<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Asafe Ramos | Desenvolvedor Full Stack</title>

	<meta property="og:site_name" content="Asafe Ramos | Desenvolvedor Full Stack">
	<meta property="og:title" content="Asafe Ramos | Desenvolvedor Full Stack">
	<meta property="og:description" content="Desenvolvedor Full Stack com 10 anos de experiência e visão ampla de mercado, contribuições nas áreas de comunicação e marketing com foco em análise de dados.">
	<meta property="og:image" content="{{ "/images/og.jpg" | prepend: site.baseurl }}">

	<meta property="og:url" content="http://asaferamos.com/">
	<meta property="article:publisher" content="http://facebook.com/asaferamos">
	<meta property="article:author" content="http://facebook.com/asaferamos">

    <meta name="description" content="Desenvolvedor Full Stack com 10 anos de experiência e visão ampla de mercado, contribuições nas áreas de comunicação e marketing com foco em análise de dados.">
    <meta name="keywords" content="goiania, full stack, asafe ramos, desenvolvimento, php, laravel, vue.js, css3, jquery, desenvolvedor em goiania, programacao goiania">
    <meta name="robots" content="index, follow">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

		<!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-15471413-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-15471413-5');
    </script>

</head>
